.side-header
  .side-header__box
    .side-header__box__user-name
      qwerty
    .side-header__box__menu
      = link_to "#" do
        %i.fa.fa-cog.fa-pull-right
      = link_to "#" do
        %i.fa.fa-edit.fa-pull-right

.groups
  = link_to "#" do
    .group
      .group__name
        TECH::EXPERT
      .group__message
        まだメッセージがありません
  = link_to "#" do
    .group
      .group__name
        TECH CAMP
      .group__message
        まだメッセージがありません